<html>
  <head>
    <title>Chat Client</title>
    <style type="text/css" media="screen">
    body {
      padding-top: 40px;
    }
    h1 {
      margin: 1em 0;
    }  
    #mesg {
      overflow-x: hidden;
      height: 460px;
      border-style:solid;
      border-width:1px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      margin-bottom: 5px;
      margin-right: 5px;
      border-color: #ccc;
    }
    #textbox {
    }
    .container{
      margin-left:10px;
      margin-right:10px;
      width: 99%;  
    }
    #next {
      margin-top: 5px;
    }
    #commit {
      margin-top: 5px;
    }
    li{
      color: #000;
      margin-left: 5px;
    }
    #headerbox-r {
      float: right;
      text-align: right;
    }
    #headerbox-l {
      float: left;
      text-align: left;
    }
    </style>
  </head>
  <body>
    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="#">Allison</a>
          <ul class="nav">
            <li class="active"><a href="#">Chat</a></li>
            <li><a href="#about">About</a></li>
          </ul>
          
          <form action="" class="pull-right">
            <input class="input-small" type="text" placeholder="Username">
            <input class="input-small" type="password" placeholder="Password">
            <button class="btn" type="submit">Sign in</button>
          </form>
        </div>
      </div>
    </div>
  <div class="container">	
    <div id="header">
      <div id="headerbox-r">
        <h3>There are <%= @count %> users online.</h3>
      </div>
      <div id="headerbox-l">
        <!--<h3>You are <%= @role1 %>. Your friend is <%= @role2 %></h3>
        <h3>You are <%= @role1 %>. Your friend is <%= @role2 %></h3>-->
      </div>
    </div>
    <br>
    <br>
    <div id="mesg"></div>
  <script type="text/javascript">
  var user = '<%= @user %>';
  var state1 = '<%= @state1 %>'; 
  var state2= '<%= @state2 %>'; 
  var channel= '<%= @channel %>'; 

  control(user, state1, state2, channel);
  function SelectAll(id) {
    document.getElementById(id).focus();
    document.getElementById(id).select;
  }
  function submitDownloadForm() {
    document.forms['download_window'].submit();
  }
  </script>
  <div id="textbox">
  <% form_tag('/chat/send', :id => 'chat_window', :remote => true) do %>
    <input class="xxlarge" id="msg_body" name="msg_body" style='width:700px'></input>
    <%= hidden_field_tag 'sender', @user%>
    <%= hidden_field_tag 'channel', @channel%>
    <button class="btn" name='commit' id="send_msg" type="submit" >Send Message</button>
    <button class="btn" name='next' value='Next Role' onClick="window.location.reload()" style='width:9em'>New Role</button>
  <% end %>

<% form_tag('/chat/download', :id => 'download_window', :remote => true, :display=>'none') do %>
    <%= hidden_field_tag 'sender', @user%>
    <%= hidden_field_tag 'channel', @channel%>
<% end %>

  </div>
  </div>
  </body>
</html>
